Repository WordPress/WordPress-Coding-Standards, pull requests merged in 2019-04, with the labels that each got.

#1673 Sniff::$unslashingSanitizingFunctions: add doubleval() and count()
  WordPress/Sniff.php
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.inc
Labels: Focus: Security, Status: Review Ready, Type: Enhancement

#1675 ValidatedSanitizedInput: allow for validation using key_exists()
  WordPress/Sniff.php
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.inc
Labels: Focus: Security, Status: Review Ready, Type: Enhancement

#1676 ValidatedSanitizedInput/Sniff::is_validated(): allow for multi-level array key check
  WordPress/Sniff.php
  WordPress/Sniffs/Security/ValidatedSanitizedInputSniff.php
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.inc
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.php
Labels: Focus: Security, Status: Review Ready, Type: Enhancement

#1677 ValidatedSanitizedInput: make the error messages more informative
  WordPress/Sniffs/Security/ValidatedSanitizedInputSniff.php
Labels: Focus: Security, Status: Review Ready, Type: Enhancement

#1678 Security: allow for type testing superglobals
  WordPress/Sniff.php
  WordPress/Sniffs/Security/ValidatedSanitizedInputSniff.php
  WordPress/Tests/Security/NonceVerificationUnitTest.inc
  WordPress/Tests/Security/NonceVerificationUnitTest.php
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.inc
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.php
Labels: Focus: Security, Status: Review Ready, Type: Bug, Type: Enhancement

#1680 Sniff::has_nonce_check(): add `is_class_object_call()` and `is_token_namespaced()` checks
  WordPress/Sniff.php
  WordPress/Tests/Security/NonceVerificationUnitTest.inc
  WordPress/Tests/Security/NonceVerificationUnitTest.php
Labels: Focus: Security, Status: Review Ready, Type: Bug

#1679 Sniff::is_sanitized(): allow for map_deep() to sanitize arrays
  WordPress/Sniff.php
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.inc
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.php
Labels: Focus: Security, Status: Review Ready, Type: Enhancement

#1683 Sniff::has_nonce_check(): ignore nonce checks in nested closed scopes
  WordPress/Sniff.php
  WordPress/Tests/Security/NonceVerificationUnitTest.inc
  WordPress/Tests/Security/NonceVerificationUnitTest.php
Labels: Focus: Modern PHP, Focus: Security, Status: Review Ready, Type: Bug

#1682 ValidatedSanitizedInput: treat array-value comparison functions same as other comparisons
  WordPress/Sniff.php
  WordPress/Sniffs/Security/ValidatedSanitizedInputSniff.php
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.inc
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.php
Labels: Focus: Security, Status: Review Ready, Type: Bug, Type: Enhancement

#1681 EscapeOutput: allow for map_deep() to output escape arrays
  WordPress/Sniffs/Security/EscapeOutputSniff.php
  WordPress/Tests/Security/EscapeOutputUnitTest.inc
  WordPress/Tests/Security/EscapeOutputUnitTest.php
Labels: Focus: Security, Status: Review Ready, Type: Enhancement

#1685 Sniff::has_nonce_check(): allow for comparing a variable before nonce check
  WordPress/Sniff.php
  WordPress/Tests/Security/NonceVerificationUnitTest.inc
Labels: Focus: Security, Status: Review Ready, Type: Bug

#1684 ValidatedSanitizedInput: handle null coalesce (equal) correctly
  WordPress/Sniff.php
  WordPress/Sniffs/Security/ValidatedSanitizedInputSniff.php
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.inc
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.php
Labels: Focus: Modern PHP, Focus: Security, Status: Review Ready, Type: Enhancement

#1686 ValidatedSanitizedInput: allow for more unslashing functions
  WordPress/Sniff.php
  WordPress/Tests/Security/ValidatedSanitizedInputUnitTest.inc
Labels: Focus: Security, Status: Review Ready, Type: Bug

#1687 Sniff::has_nonce_check(): allow for unslashing a variable before nonce check
  WordPress/Sniff.php
  WordPress/Tests/Security/NonceVerificationUnitTest.inc
  WordPress/Tests/Security/NonceVerificationUnitTest.php
Labels: Focus: Security, Status: Review Ready, Type: Bug, Type: Enhancement

#1688 NonceVerification: bug fix - sanitization is no alternative for nonce check
  WordPress/Sniff.php
  WordPress/Sniffs/Security/NonceVerificationSniff.php
  WordPress/Tests/Security/NonceVerificationUnitTest.inc
  WordPress/Tests/Security/NonceVerificationUnitTest.php
Labels: Focus: Security, Status: Review Ready, Type: Bug

#1661 Core: forbid assignments in conditions
  WordPress-Core/ruleset.xml
  WordPress-Extra/ruleset.xml
Labels: Component: Core, Status: Review Ready

#1662 Core: warn against the use of loose comparisons
  WordPress-Core/ruleset.xml
  WordPress-Extra/ruleset.xml
Labels: Component: Core, Status: Review Ready

#1689 Changelog for WPCS 2.1.0
  CHANGELOG.md
  README.md
Labels: Status: Review Ready, Type: Documentation

#1693 Add missing WP global variable `$current_blog`
  WordPress/Sniff.php
Labels: Status: Review Ready, Type: Enhancement

#1695 NonceVerification: improve handling of nested functions
  WordPress/Sniff.php
  WordPress/Tests/Security/NonceVerificationUnitTest.inc
Labels: Focus: Security, Status: Review Ready, Type: Bug
