Repository WordPress/WordPress-Coding-Standards, pull requests merged in 2022-11, with the labels that each got.

#2105 Extra: fix typo in rule
  WordPress-Extra/ruleset.xml
Labels: Component: Extra, Type: Bug, Status: Review Ready

#2106 GH Actions: bust the cache semi-regularly
  .github/workflows/quicktest.yml
  .github/workflows/ruleset-checks-sniffs.yml
  .github/workflows/unit-tests.yml
Labels: Type: Chores/Cleanup, Status: Review Ready

#2107 Extra: fix (more) typos in rules
  WordPress-Extra/ruleset.xml
Labels: Component: Extra, Type: Bug, Status: Review Ready

#2114 Minimum version trait fix
  WordPress/Helpers/MinimumWPVersionTrait.php
  WordPress/Sniffs/WP/AlternativeFunctionsSniff.php
  WordPress/Sniffs/WP/DeprecatedClassesSniff.php
  WordPress/Sniffs/WP/DeprecatedFunctionsSniff.php
  WordPress/Sniffs/WP/DeprecatedParameterValuesSniff.php
  WordPress/Sniffs/WP/DeprecatedParametersSniff.php
Labels: Type: Bug, Status: Review Ready
