Repository WordPress/WordPress-Coding-Standards, pull requests merged in 2025-08, with the labels that each got.

#2566 EscapingFunctionsTrait: remove `wp_kses_allowed_html()` from escaping functions
  WordPress/Helpers/EscapingFunctionsTrait.php
Labels: Type: Bug, Status: Review ready, Focus: Security, Component: Helpers

#2562 NamingConventions/ValidPostTypeSlug: check token via code, not type
  WordPress/Sniffs/NamingConventions/ValidPostTypeSlugSniff.php
Labels: Type: Chores/Cleanup, Status: Review ready

#2559 Security/EscapeOutput: fix false negatives when handling anonymous classes
  .phpcs.xml.dist
  WordPress/Sniffs/Security/EscapeOutputSniff.php
  WordPress/Tests/Security/EscapeOutputUnitTest.1.inc
  WordPress/Tests/Security/EscapeOutputUnitTest.21.inc
  WordPress/Tests/Security/EscapeOutputUnitTest.22.inc
  WordPress/Tests/Security/EscapeOutputUnitTest.23.inc
  WordPress/Tests/Security/EscapeOutputUnitTest.php
Labels: Component: Extra, Type: Bug, Status: Review ready, Focus: Modern PHP

#2569 DB/PreparedSQLPlaceholders: fix false negative when checking quotes in dynamic generated placeholders
  WordPress/Sniffs/DB/PreparedSQLPlaceholdersSniff.php
  WordPress/Tests/DB/PreparedSQLPlaceholdersUnitTest.inc
Labels: Type: Bug, Status: Review ready, Component: Core

#2573 PHP 8.5 | WP/EnqueuedResourceParameters: prevent deprecation notice for non-standard casts
  WordPress/Sniffs/WP/EnqueuedResourceParametersSniff.php
  WordPress/Tests/WP/EnqueuedResourceParametersUnitTest.1.inc
  WordPress/Tests/WP/EnqueuedResourceParametersUnitTest.2.inc
  WordPress/Tests/WP/EnqueuedResourceParametersUnitTest.php
Labels: Component: Extra, Type: Enhancement, Status: Review ready, Focus: Modern PHP

#2551 PHP 8.4 asymmetric visibility properties: add tests to four sniffs
  WordPress/Sniffs/WP/GlobalVariablesOverrideSniff.php
  WordPress/Tests/NamingConventions/PrefixAllGlobalsUnitTest.1.inc
  WordPress/Tests/NamingConventions/ValidVariableNameUnitTest.inc
  WordPress/Tests/NamingConventions/ValidVariableNameUnitTest.php
  WordPress/Tests/Security/NonceVerificationUnitTest.8.inc
  WordPress/Tests/WP/GlobalVariablesOverrideUnitTest.1.inc
  WordPress/Tests/WP/GlobalVariablesOverrideUnitTest.8.inc
Labels: Component: Extra, Type: Chores/Cleanup, Status: Review ready, Focus: Modern PHP
